cora/processed_cora.pkl
cora/raw/ind.cora.y
cora/raw/ind.cora.x
cora/raw/ind.cora.ty
cora/raw/ind.cora.tx
cora/raw/ind.cora.test.index
cora/raw/ind.cora.graph
cora/raw/ind.cora.ally
cora/raw/ind.cora.allx
GraphSAGE/__pycache__/data.cpython-37.pyc
GraphSAGE/__pycache__/net.cpython-37.pyc
GraphSAGE/__pycache__/sampling.cpython-37.pyc
selfAttentionPooling/__pycache__/data.cpython-37.pyc
selfAttentionPooling/__pycache__/net.cpython-37.pyc
selfAttentionPooling/__pycache__/utilits_function.cpython-37.pyc
selfAttentionPooling/data/DD.zip
selfAttentionPooling/data/DD/DD_A.txt
selfAttentionPooling/data/DD/DD_graph_indicator.txt
selfAttentionPooling/data/DD/DD_graph_labels.txt
.gitignore
selfAttentionPooling/data/DD/DD_node_labels.txt
selfAttentionPooling/data/DD/README.txt
