cora/processed_cora.pkl
cora/raw/ind.cora.y
cora/raw/ind.cora.x
cora/raw/ind.cora.ty
cora/raw/ind.cora.tx
cora/raw/ind.cora.test.index
cora/raw/ind.cora.graph
cora/raw/ind.cora.ally
cora/raw/ind.cora.allx
GraphSAGE/__pycache__/data.cpython-37.pyc
GraphSAGE/__pycache__/net.cpython-37.pyc
GraphSAGE/__pycache__/sampling.cpython-37.pyc
